*{
    /* overflow-x: hidden; */
}



body{
    background-color:rgba(250, 242, 242, 0.663)
}
 .navbar{
    background-color:  rgb(28, 102, 123);
} 

.letter{
    margin-left: 10px;
}
